.App {
  text-align: center;
  background-color: #EEE;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiCardHeader-content {
  max-width: 100%;
}
